<div class="container">

  <div class="d-flex justify-content-around mt-3">
    <h1 class="">List of Skillsets</h1>
    <a class="btn btn-dark" [routerLink]="['/admin/skillset/add']">Add Skillsets</a>
  </div>



  <ng-container *ngIf="skillset$ | async as skillsets">
    <table class="table table-bordered mt-3 tably">
      <caption class="text-center">Table of Skillsets</caption>
      <thead>
        <tr class="text-center">
          <th>Id</th>
          <th>Skill Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skillset of skillsets" class="text-center">
          <td>{{ skillset.skillsetId }}</td>
          <td>{{ skillset.skillName }}</td>
          <td class="d-flex justify-content-center align-content-center editBtnBorder">
            <a class="btn btn-outline-dark" [routerLink]="['/admin/skillset', skillset.skillsetId]">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>


</div>
