<div class="container">
  <h1 class="my-3 text-center">List of Skillsets</h1>
  <div class="d-flex justify-content-around mt-3">

    <a class="btn btn-dark" [routerLink]="['/admin/skillset/add']">Add Skillsets</a>
  </div>




    <table class="table table-bordered mt-3 tably">
      <caption class="text-center">Table on Skillsets</caption>
      <thead>
        <tr class="text-center">
          <th>Id</th>
          <th>Skill Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Perform two way data binding here once setup -->
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="d-flex justify-content-center align-content-center editBtnBorder"><a class="btn btn-outline-dark" [routerLink]="">Edit</a></td>
        </tr>
      </tbody>
    </table>

</div>
