<div class="container mb-4">
  <h1 class="mt-3">Edit User</h1>
  <form #form="ngForm" (ngSubmit)="onFormSubmit()">

    <div class="mt-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" name="username" class="form-control">
    </div>

    <div class="mt-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" name="email" class="form-control">
    </div>

    <div class="mt-3">
      <label for="featuredImageUrl" class="form-label">Profile Pic Url</label>
      <input type="text" id="featuredImageUrl" name="featuredImageUrl" class="form-control">
    </div>

    <div class="mt-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control">
    </div>

    <div class="mt-3">
      <label for="hobby" class="form-label">Hobby</label>
      <input type="text" id="hobby" name="hobby" class="form-control">
    </div>

    <div class="mt-3">
      <label for="registerDate" class="form-label">Register Date</label>
      <input type="date" id="registerDate" name="registerDate" class="form-control">
    </div>

    <div class="form-check mt-3">
      <input class="form-check-input" type="checkbox" id="isVisible" name="isVisible">
      <label class="form-check-label" for="isVisible">Visibility</label>
    </div>

    <div class="mt-3">
      <label for="skillsets" class="form-label">Skillsets</label>
      <select class="form-control" id="skillsets" name="skillsets" multiple>
      </select>
    </div>

    <div class="mt-3 text-center">
      <button type="submit" class="btn btn-dark w-100">Save Changes</button>
    </div>

  </form>
</div>
